<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <bean id="StudentDAO" class="com.example.bean_life_cycle.StudentDAO">
        <property name="url" value="jdbc:mysql://localhost/SpringCore"></property>
        <property name="userName" value="root"></property>
        <property name="passWord" value="123456"></property>
    </bean>
</beans>