<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CheckAnh" class="com.example.spring_coreobject_interface.CheckAnh"></bean>
    <bean id="CheckToan" class="com.example.spring_coreobject_interface.CheckToan"></bean>

    <bean id="Student" class="com.example.spring_coreobject_interface.Student">
        <property name="check" ref="CheckAnh"></property>
    </bean>
</beans>