<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean id="timNguoi" class="com.example.spring_autowiring_qualifier.Tim">
        <property name="nameOfAnimal" value="Con Nguoi"></property>
        <property name="soTim" value="1"></property>
    </bean>
    <bean id="timBachTuoc" class="com.example.spring_autowiring_qualifier.Tim">
        <property name="nameOfAnimal" value="Bach Tuoc"></property>
        <property name="soTim" value="3"></property>
    </bean>
    <bean id="connguoi1" class="com.example.spring_autowiring_qualifier.ConNguoi" />
<!--    <bean id="connguoi2" class="com.example.spring_autowiring_qualifier.ConNguoi"  />-->





</beans>